label{
    display: flex;
    align-self: flex-start;
    margin-left: 8%;
}
a{
    color: black;
}
img{
    display: flex;
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 25%;
}
.container{
 background-image: url('../img/login/vector-login.svg');
 background-repeat: no-repeat;
 background-color:rgba(0, 56, 129, 0.788);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 7%;
 margin-left: 30%;
 margin-right: 30%;
 padding-top: 1%;
 padding-bottom: 4%;
}
form{
    color: aliceblue;
}
input{
    height: 25px;
    width: 80%;
    border-radius: 2px;
    border: 1px;
}
input[type="submit"] {
    background-color: black;
    margin-top: 8%;
    font-size: 25px;
    height: 35px;
    color: aliceblue;
}
body{
    background-image: url('../img/login/bg-login.png');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}